body{
	background-color: black;
}
.c-form {
	max-width: 1000px;
	margin: 0 auto;
}
.c-form__item {
	display: flex; /*直下の要素が並列, いらん*/
	flex-wrap: wrap; /*コンテナからあふれそうになると自動改行, いらん*/
	justify-content: space-evenly; /*並列にするときの空間開ける, いらん*/
	margin-bottom: 20px;
}
.c-form__label {
	color: gold;
}
/*数字のスコアの影が思ったより雑魚い*/
.c-form__result{
	font-size: 25px;
	text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white; /*X、Y、ぼかし、色*/
	/*2種類ないとなぜか上手くいかない, 意味が分からん*/
}
.c-form__input, .c-form__submit{
	display: none;
}

/*出力の対象メディアによって変える*/
@media (min-width: 640px) { /*幅が 640px 以下であれば 確かスマホは40以下*/
	.c-form__item {
		flex-wrap: nowrap;
	}
	.c-form__label {
		width: 70%;
	}
}
